html {
}

body {
    padding     : 0;
    margin      : 0;
    font-family : 'Roboto', sans-serif;
    line-height : 1.5;
}

header {
    position         : fixed;
    z-index          : 100;
    top              : 0;
    left             : 0;
    width            : 100%;
    background-color : rgba(0, 0, 0, 0.8);
    box-shadow       : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media only screen
and (max-device-width : 1023px)
and (-webkit-min-device-pixel-ratio : 2) {
    header nav {
        display : none;
    }

    #logo {
        text-align : center;
        padding    : 8px 0;
    }

    #biography-pane > .center {
        flex-direction : column;
    }

    #biography-profile-container {
        text-align : center;
    }

    #biography-intro-container {
        width        : 300px;
        margin-left  : auto;
        margin-right : auto;
        margin-top   : 40px;
    }

    #biography-who-i-am {
        font-size : 24px;
    }

    #biography-skills-container {
        font-size : 16px;
    }
}

@media only screen
and (min-device-width : 1024px) {
    .center {
        margin-left  : auto;
        margin-right : auto;
        width        : 1024px;
    }

    #logo {
        margin-left  : auto;
        margin-right : auto;

        padding      : 8px 0 0 0;
    }

    header nav {
        flex        : 1;
        margin-left : 40px;
    }

    header .center {
        display : flex;
    }

    #biography-intro-container {
        padding : 40px 0 0 80px;
    }

    #biography-who-i-am {
        font-size : 40px;
    }

    #biography-skills-container {
        font-size : 20px;
    }
}

#logo {
    font-size : 25px;
    color     : white;
}

ul {
    list-style : none;
}

header nav ul {
    margin     : 0;
    padding    : 0;
    display    : flex;
    list-style : none;
    height     : 44px;
    overflow   : hidden;
}

header nav ul li {
    margin-top : -44px;
    text-align : center;
    color      : rgba(255, 255, 255, 0.7);
    transition : all 600ms cubic-bezier(1, 0, 0, 1);
    flex       : 1;
}

header nav ul li a {
    text-decoration : none;
}

header nav ul li div:first-child {
    font-size : 0;
    padding   : 12px 0;
}

header nav ul li div:first-child > i {
    font-size : 20px;
}

header nav ul li div:last-child {
    padding   : 14px 0;
    font-size : 14px;
}

header nav ul li:hover {
    cursor     : pointer;
    color      : rgba(255, 255, 255, 0.85);
    margin-top : 0;
}

header nav ul li.active {
    font-weight : 500;
    color       : white;
}

#main-content {
    padding    : 0;
    margin     : 0;
    list-style : none;
}

#biography-pane {
    color           : white;
    text-shadow     : 0 0 10px rgba(0, 0, 0, 0.8);
    background      : url("../images/bg.jpg") center;
    background-size : cover;
}

#biography-pane > .center {
    padding : 104px 0 60px 0;
    display : flex;
}

#biography-intro-container {
    flex         : 1;
    word-spacing : 5px;
}

#biography-profile {
    width      : 300px;
    border     : 8px solid white;
    box-shadow : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition : all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#biography-profile:hover {
    cursor     : pointer;
    transform  : scale(1.005);
    box-shadow : 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#biography-who-i-am {
}

#biography-who-i-am .role {
    font-weight : bold;
}

#biography-skills-container {
    margin-top  : 10px;
    line-height : 1.5;
}

a {
    color       : inherit;
    font-weight : bolder;
}

#biography-skills-container a {
    text-decoration : none;
    font-weight     : bold;
}

#biography-skills-container a:hover {
    text-decoration : underline;
}

.social-media {
    padding-left : 0;
    margin-top   : 28px;
    list-style   : none;
    display      : flex;
    font-size    : 60px;
}

.social-media > li:not(:last-child) {
    margin-right : 60px;
}

#contact-pane {
    color            : white;
    margin-top       : 40px;
    background-color : #37474F;
}

#contact-pane ul {
    list-style      : none;
    display         : flex;
    justify-content : center;
}

#contact-pane li {
    padding : 20px 0;
}

#contact-pane li:not(:last-child) {
    margin-right : 30px;
}

#copyright-pane {
    text-align       : center;
    padding          : 10px 0;
    color            : white;
    background-color : #263238;
}

#education-pane {
    margin  : 0 auto;
    padding : 60px;
}

#education-pane > ul, #experiences-pane > ul {
    list-style   : none;
    padding-left : 0;
}

#education-pane > ul > li:not(:last-child), #experiences-pane > ul > li:not(:last-child) {
    margin-bottom : 20px;
}

#main-content > li > h1 {
    color : #2079c7;
}

.school-info, .company-info {
    display : flex;
}

#education-pane > ul, #experiences-pane > ul, #hackathons-pane > ul {
    margin-left : -100px;
}

.school-info > div > ul {
    color        : #666;
    margin-top   : 20px;
    padding-left : 0;
}

.school-info > div > ul > li:not(:last-child) {
    margin-bottom : 20px;
}

.school-logo, .company-logo, .hackathon-logo {
    margin-right : 20px;
}

#hackathons-pane > ul {
    padding-left : 0;
}

.hackathon-logo {
    float : left;
}

.school-logo > img, .company-logo > img, .hackathon-logo > img {
    width : 80px;
}

.projects, .books {
    padding-left : 0;
    display      : flex;
    flex-wrap    : wrap;
}

.projects > li {
    width      : 40%;
    margin-top : 20px;
}

.projects > li:nth-child(odd) {
    margin-right : 10%;
}

.project-title > a {
    color           : black;
    text-decoration : none;
}

.project-title > a:hover {
    text-decoration : underline;
}

.project-thumbnail, .project-thumbnail-mobile {
    background-color : white;
    box-shadow       : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition       : all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin-bottom    : 20px;
    font-size: 0;
}

.project-thumbnail {
    display          : flex;
    overflow         : hidden;
    align-items      : center;
}

.project-thumbnail {
    height : 210px;
}

.project-thumbnail-mobile {
    margin-left  : auto;
    margin-right : auto;
    width        : 50%;
}

.project-thumbnail-mobile > img {
    margin-left  : auto;
    margin-right : auto;
}

.project-thumbnail:hover {
    transform  : scale(1.05);
    cursor     : pointer;
    box-shadow : 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.project-thumbnail-mobile:hover {
    transform : scale(1.05);
    cursor    : pointer;
}

.project-thumbnail > img, .project-thumbnail-mobile > img {
    height : auto;
    width  : 100%;
}

.project-title {
    text-align : center;
}

.project-description {
    color: black;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.project-implementation {
    color       : #666;
    line-height : 1.5;
    font-size   : 0.9rem;
}

.books > li {
    text-align    : center;
    width         : 20%;
    margin-right  : 5%;
    margin-bottom : 40px;
}

.books > li > div:first-child {
    margin-bottom : 20px;
}

.important {
    font-weight : bold;
}

.date {
    color     : #666666;
    font-size : 12px;
}

.description {
    color     : #666666;
    font-size : 14px;
}

.book {
    font-size : 0;
    position  : relative;
}

.book:hover {
    cursor: pointer;
    transform : perspective(100px) rotateY(-3deg);
}

.book, .book:hover:before, .book:hover:after {
    transition : all 100ms ease-in-out;
}

.book > img {
    width      : 100%;

    box-shadow : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition : all 300ms ease-in-out;
}

.book:hover > img {

    box-shadow : -2px 0 4px rgba(0, 0, 0, 0.1);
}

.book:hover:before, .book:hover:after {
    position : absolute;
    top      : 2%;
    height   : 96%;
    content  : ' ';
    z-index  : -1;
}

.book:hover::before {
    width            : 100%;
    left             : 7%;
    background-color : black;
    box-shadow       : 5px 5px 16px #333;
}

.book:hover::after {
    width             : 5%;
    left              : 99%;
    background-color  : #efefef;
    box-shadow        : inset 0 0 5px #aaa;
    -webkit-transform : perspective(100px) rotateY(20deg);
}

.course {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

#hackathons-pane > ul > li {
    margin-bottom: 20px;
}

.hackathon-title {
    font-size: 16px;
    font-weight: bold;
}

#achievements-pane ul{
    padding-left: 0;
    font-weight: bold;
    font-size: 16px;
}