html {
}

body {
    padding     : 0;
    margin      : 0;
    font-family : 'Roboto', sans-serif;
    line-height : 1.5;
}

body.show-message #main-content {
    margin-top : 44px;
}

body.show-message header {
    top : 44px;
}

.flash-message {
    position         : fixed;
    top              : 0;
    left             : 0;
    right            : 0;
    background-color : #FFC107;
    text-align       : center;
    font-weight      : bolder;
    z-index          : 100;
    transition       : all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow         : hidden;
    height           : 44px;
}

.flash-message .container {
    padding-top    : 10px;
    padding-bottom : 10px;
}

.flash-message.hide {
    height : 0;
}

#close-message-btn {
    margin-right : 10px;
    position     : absolute;
    right        : 0;
}

header {
    top              : 0;
    position         : fixed;
    z-index          : 100;
    left             : 0;
    width            : 100%;
    background-color : rgba(0, 0, 0, 0.8);
    box-shadow       : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition       : all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media only screen
and (max-device-width : 1023px)
and (-webkit-min-device-pixel-ratio : 2) {
    header nav ul {
        flex-direction : column;
    }

    header nav {
        overflow   : hidden;
        transition : all 600ms cubic-bezier(1, 0, 0, 1);
        height     : 0;
    }

    header nav ul li:hover {
        background-color : rgba(0, 0, 0, 0.2);
    }

    header nav ul li a {
        display         : flex;
        flex-direction  : row;
        justify-content : center;
    }

    header nav ul li a div:first-child {
        margin-right : 20px;
    }

    #logo {
        text-align : center;
        padding    : 8px 0;
    }

    #biography-pane > .center {
        flex-direction : column;
    }

    #biography-profile-container {
        text-align : center;
    }

    #biography-intro-container {
        width        : 300px;
        margin-left  : auto;
        margin-right : auto;
        margin-top   : 40px;
    }

    #biography-who-i-am {
        font-size : 24px;
    }

    #biography-skills-container {
        font-size : 16px;
    }

    .menu {
        margin-top : 4px;
        cursor     : pointer;
        display    : block;
        position   : absolute;
        right      : 10px;
        top        : 10px;
        color      : white;
    }

    #main-content > li:not(:first-child) {
        padding-left  : 20px;
        padding-right : 20px;
    }

    .platform-logo, .school-logo, .activity-logo, .company-logo {
        display : none;
    }

    .projects > li {
        width : 100%;
    }

    #contact-pane ul {
        flex-direction : column;
        text-align     : center;
    }

    .books > li {
        width : 100%;
    }

    #biography-pane > .center {
        padding : 148px 0 60px 0;
    }
}

@media only screen
and (min-device-width : 1024px) {
    .center {
        margin-left  : auto;
        margin-right : auto;
        width        : 1024px;
    }

    #logo {
        margin-left  : auto;
        margin-right : auto;

        padding      : 4px 0 0 0;
    }

    header nav {
        flex        : 1;
        margin-left : 40px;
        height      : 44px;
        overflow    : hidden;
    }

    header nav ul li {
        margin-top : -44px;
    }

    .menu {
        display : none;
    }

    header .center {
        display : flex;
    }

    #biography-intro-container {
        padding : 40px 0 0 80px;
    }

    #biography-who-i-am {
        font-size : 40px;
    }

    #biography-skills-container {
        font-size : 20px;
    }

    .projects > li {
        width : 40%;
    }

    .projects > li:nth-child(odd) {
        margin-right : 10%;
    }

    .project-thumbnail-mobile {
        width : 50%;
    }

    #contributions-pane > ul, #education-pane > ul, #experiences-pane > ul, #activities-pane > ul {
        margin-left : -100px;
    }

    .project-thumbnail {
        height : 210px;
    }

    .books > li {
        width        : 20%;
        margin-right : 5%;
    }

    .book:hover {
        cursor    : pointer;
        transform : perspective(100px) rotateY(-3deg);
    }

    .book, .book:hover:before, .book:hover:after {
        transition : all 100ms ease-in-out;
    }

    .book:hover > img {
        box-shadow : -2px 0 4px rgba(0, 0, 0, 0.1);
    }

    .book:hover:before, .book:hover:after {
        position : absolute;
        top      : 2%;
        height   : 96%;
        content  : ' ';
        z-index  : -1;
    }

    .book:hover::before {
        width            : 100%;
        left             : 7%;
        background-color : black;
        box-shadow       : 5px 5px 16px #333;
    }

    .book:hover::after {
        width             : 5%;
        left              : 99%;
        background-color  : #efefef;
        box-shadow        : inset 0 0 5px #aaa;
        -webkit-transform : perspective(100px) rotateY(20deg);
    }

    .project-thumbnail:hover {
        transform  : scale(1.05);
        cursor     : pointer;
        box-shadow : 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .project-thumbnail-mobile:hover {
        transform : scale(1.05);
        cursor    : pointer;
    }

    #activities-pane .projects {
        margin-left : 100px;
    }

    .activity-title {
        margin-left : 100px;
    }

    #biography-pane > .center {
        padding : 104px 0 60px 0;
    }
}

#logo {
    font-size : 25px;
    color     : white;
}

ul {
    list-style : none;
}

header nav ul {
    margin     : 0;
    padding    : 0;
    display    : flex;
    list-style : none;
}

header nav ul li {
    text-align : center;
    color      : rgba(255, 255, 255, 0.7);
    transition : all 600ms cubic-bezier(1, 0, 0, 1);
    flex       : 1;
}

header nav ul li a {
    text-decoration : none;
}

header nav ul li div:first-child {
    font-size : 0;
    padding   : 12px 0;
}

header nav ul li div:first-child > i {
    font-size : 20px;
}

header nav ul li div:last-child {
    padding   : 13px 0;
    font-size : 12px;
}

header nav ul li:hover {
    cursor     : pointer;
    color      : rgba(255, 255, 255, 0.85);
    margin-top : 0;
}

header nav ul li.active {
    font-weight : 500;
    color       : white;
}

#main-content {
    position         : relative;
    padding          : 0;
    margin           : 0;
    list-style       : none;
    background-color : white;
    transition       : all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

#biography-pane {
    color           : white;
    text-shadow     : 0 0 10px rgba(0, 0, 0, 0.8);
    background      : url("../images/bg.jpg") center;
    background-size : cover;
}

#biography-pane > .center {
    display : flex;
}

#biography-intro-container {
    flex         : 1;
    word-spacing : 5px;
}

#biography-profile {
    width      : 300px;
    border     : 8px solid white;
    box-shadow : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition : all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#biography-profile:hover {
    cursor     : pointer;
    transform  : scale(1.005);
    box-shadow : 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#biography-who-i-am {
}

#biography-who-i-am .role {
    font-weight : bold;
}

#biography-skills-container {
    margin-top  : 10px;
    line-height : 1.5;
}

a {
    color       : inherit;
    font-weight : bolder;
}

#biography-skills-container a {
    text-decoration : none;
    font-weight     : bold;
}

#biography-skills-container a:hover {
    text-decoration : underline;
}

.social-media {
    position     : relative;
    padding-left : 0;
    margin-top   : 28px;
    list-style   : none;
    display      : flex;
    font-size    : 60px;
}

.social-media > li:not(:last-child) {
    margin-right : 60px;
}

.social-media .devpost-icon {
    padding-top : 20px;
    height      : 48px;
}

#contributions-pane > ul {
    padding-left : 0;
}

#contact-pane {
    color            : white;
    margin-top       : 40px;
    background-color : #37474F;
}

#contact-pane ul {
    padding-left    : 0;
    list-style      : none;
    display         : flex;
    justify-content : center;
}

#contact-pane li {
    padding : 20px 0;
}

#contact-pane li:not(:last-child) {
    margin-right : 30px;
}

#copyright-pane {
    text-align       : center;
    padding          : 10px 0;
    color            : white;
    background-color : #263238;
}

#education-pane {
    margin : 0 auto;
}

#experiences-pane {
    margin-top : 50px;
}

#education-pane > ul, #experiences-pane > ul {
    list-style   : none;
    padding-left : 0;
}

#education-pane > ul > li:not(:last-child), #experiences-pane > ul > li:not(:last-child) {
    margin-bottom : 20px;
}

#main-content > li > h1 {
    margin-top : 0;
    color      : #2079c7;
}

.platform-info, .school-info, .company-info {
    display : flex;
}

.school-info > div > ul {
    color        : #666;
    margin-top   : 20px;
    padding-left : 0;
}

.school-info > div > ul > li:not(:last-child) {
    margin-bottom : 20px;
}

.platform-logo, .school-logo, .company-logo, .activity-logo {
    margin-right : 20px;
}

#activities-pane > ul {
    padding-left : 0;
}

.activity-logo {
    float : left;
}

.platform-logo > img, .school-logo > img, .company-logo > img, .activity-logo > img {
    width : 80px;
}

.projects, .books {
    padding-left : 0;
    display      : flex;
    flex-wrap    : wrap;
}

.projects {
    margin-top : 20px;
}

.projects > li {
    margin-bottom : 50px;
}

.project-title > a {
    color           : black;
    text-decoration : none;
}

.project-achievement {
    color         : black;
    margin-bottom : 10px;
    text-align    : center;
    font-weight   : bold;
}

.project-title > a:hover {
    text-decoration : underline;
}

.project-thumbnail, .project-thumbnail-mobile {
    position         : relative;
    background-color : white;
    transition       : all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin-bottom    : 20px;
    width            : 100%;
    font-size        : 0;
    box-shadow       : 0 0 6px rgba(0, 0, 0, 0.2);
}

.project-thumbnail {
    display     : flex;
    overflow    : hidden;
    align-items : center;
}

.project-thumbnail.show-top {
    align-items : baseline;
}

.project-thumbnail-mobile {
    margin-left  : auto;
    margin-right : auto;
}

.project-thumbnail-mobile > img {
    margin-left  : auto;
    margin-right : auto;
}

.project-thumbnail > img, .project-thumbnail-mobile > img {
    height : auto;
    width  : 100%;
}

.project-winner {
    position            : absolute;
    top                 : 0;
    left                : 0;
    background-image    : url("../images/winner.svg");
    background-size     : contain;
    background-position : left top;
    background-repeat   : no-repeat;
    width               : 120px;
    height              : 120px;
}

.project-title {
    text-align : center;
}

.project-description {
    text-align    : center;
    font-size     : 0.9rem;
    margin-bottom : 10px;
}

.project-implementation {
    color       : #666;
    line-height : 1.5;
    font-size   : 0.9rem;
}

.books > li {
    text-align    : center;
    margin-bottom : 40px;
}

.books > li > div:first-child {
    margin-bottom : 20px;
}

.book > img {
    width      : 100%;

    box-shadow : 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition : all 300ms ease-in-out;
}

.important {
    font-weight : bold;
}

.date {
    color     : #666666;
    font-size : 12px;
}

.description {
    color     : #666666;
    font-size : 14px;
}

.book {
    font-size : 0;
    position  : relative;
}

.course {
    font-size : 14px;
    color     : black;
}

#activities-pane > ul > li {
    margin-bottom : 20px;
    min-height    : 80px;
}

.activity-title {
    font-size   : 16px;
    font-weight : bold;
}

#contributions-pane, #favorite-boos-pane {
    margin-top : 50px;
}

.photo-gallery {
    perspective   : 500px;
    padding-left  : 0;
    position      : relative;
    height        : 210px;
    margin-bottom : 20px;
}

.photo-gallery > li {
    position         : absolute;
    background-color : white;
}

.photo-gallery > li:nth-child(1) {
    z-index    : 4;
    transition : all 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.photo-gallery > li:nth-child(2) {
    transform  : scale(0.99);
    z-index    : 3;
    transition : all 400ms cubic-bezier(0.19, 1, 0.22, 1);
}

.photo-gallery > li:nth-child(3) {
    transform  : scale(0.99);
    transition : all 400ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index    : 2;
}

.photo-gallery > li:nth-child(4) {
    transform  : scale(0.99);
    transition : all 400ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index    : 1;
}

.photo-gallery:not(.shown) > li:first-child {
    box-shadow : 0 4px 10px rgba(0, 0, 0, 0.25);
}

.photo-gallery.shown > li {
    box-shadow : 0 4px 10px rgba(0, 0, 0, 0.25);
}

.photo-gallery.shown > li:nth-child(1) {
    transform : scale(0.95) rotateX(-8deg);
}

.photo-gallery.shown > li:nth-child(2) {
    transform : scale(0.9) translateY(-25px) rotateX(-6deg);
}

.photo-gallery.shown > li:nth-child(2):hover {
    transform : scale(0.9) translateY(-25px) translateX(80px) rotateX(-6deg);
}

.photo-gallery.shown > li:nth-child(3) {
    transform : scale(0.85) translateY(-50px) rotateX(-4deg);
}

.photo-gallery.shown > li:nth-child(3):hover {
    transform : scale(0.85) translateY(-50px) translateX(80px) rotateX(-4deg);
}

.photo-gallery.shown > li:nth-child(4) {
    transform : scale(0.8) translateY(-75px) rotateX(-2deg);
}

.photo-gallery.shown > li:nth-child(4):hover {
    transform : scale(0.8) translateY(-75px) translateX(80px) rotateX(-2deg);
}

#contact-pane a {
    text-decoration : none;
}

#contact-pane a:hover {
    text-decoration : underline;
}

#github-calender {
    padding : 40px;
    width   : 676px;
    border  : 1px solid #DDDDDD;
}

#github-calender > h2 {
    display : none;
}

footer > ul {
    padding : 0;
    margin  : 0;
}